/* ОБЩИЕ СТИЛИ */
.address {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-style: normal;
    text-underline-offset: 2px;
    font-size: 18px;
}

.address__link {
    text-underline-offset: 4px;
}

/* Добавляем класс active, 
чтобы убрать круг и подчеркивание */
.active {
    list-style-type: none;
    text-decoration: none;
    text-underline-offset: 4px;
}

.menu {
    font-size: 18px;
}

.overlay::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #000;
    opacity: .6;
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
}

/* ШАПКА САЙТА */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__menu-list {
    display: flex;
    gap: 33px;
}

.header__menu-item {
    list-style-type: circle;
    text-underline-offset: 4px;
}

/* .header__menu-item:active {
    list-style-type: none;
    text-decoration: none;
} */

.header__logo-link {
    margin-right: 15%;
}

.header__logo-icon {
    width: 148px;
    height: 105px;
}
/* Пришлось использовать, чтобы подогнать по ширене под
подтребования макета */
.header__address {
    width: 210px;
    margin-right: 30px;
}

/* ОСНОВНОЙ БЛОК 
БАНЕР */
.main__baner {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 165px 50px 50px;
    margin-bottom: 180px;
}

.main__baner-title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 115%;
    margin-bottom: 108px;
    z-index: 1;
}

.main__baner-word {
    letter-spacing: 30px;
}

/* Дополнителный класс для позиционирования слов */
.top-line {
    margin-bottom: 20px;
}

.midle-line {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 30px;
}

.bot-line {
    display: flex;
    justify-content: flex-end;
    /* margin-left: 1030px; */
    margin-right: -30px;
}

.main__baner-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 23px;
    word-spacing: 18px;
    z-index: 1;
}

.main__baner-button {
    text-decoration: none;
    border: 1px solid currentColor;
    padding: 12px 32px;
    word-spacing: 0;
}

/* СЕКЦИЯ ЛОТОВ */
.main__lots {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin-bottom: 156px;
}

.main__lots-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.main__lots-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 30px;
}

.main__lot-link {
    text-decoration-line: none;
}

/* Justify-content не делит блоки на равные части
пришлось задавать ширину */
.main__lot {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 48px 40px;
    color: white;
    height: 100%;
    width: 334px;
}

/* Добавил доп класс для стилизации backgraund */
.lot-film {
    background-image: url(../images/card-lot-01.jpg);
}

.lot-book {
    background-image: url(../images/card-lot-02.jpg);
}

.lot-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.main__lot-title {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 36px;
    z-index: 1;
}

.main__lot-text {
    font-size: 20px;
    font-weight: 100px;
    line-height: 120%;
    text-decoration: none;
    z-index: 1;
}

.main__button-info {
    font-size: 20px;
    margin-left: 40px;
    text-underline-offset: 4px;
}

/* РАЗДЕЛ С ОПИСАНИЕМ */
.main__about {
    padding: 0 24px;
    display: flex;
    margin-bottom: 132px;
}

.main__about-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    padding: 64px 46px;
    margin-left: 48px;
}

.main__about-icon {
    width: 148px;
    height: 114px;
}

.main__about-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 76px;
}

.main__about-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 100px 30px 47px 70px;
}

.main__about-text {
    font-size: 20px;
    font-weight: 100;
    line-height: 24px;
}

/* ПОДВАЛ САЙТА */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 82px 50px;
}

/* Чтобы сделать отображение как на макете
пришлось задать ширину */
.footer__address {
    width: 264px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
}

.footer__social-list {
    display: flex;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
